.header {
  padding-top: 45px;
  max-width: 882px;
  min-height: 74px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .header {
    padding-top: 28px;
  }
}
