.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
  padding: 0;
  max-width: 294px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__subtitle:first-child {
  margin: 0;
}


@media screen and (max-width: 700px) {
  .profile__subtitle {
    margin: 14px 0 0;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    max-width: 282px;
  }
}

@media screen and (max-width: 600px) {
  .profile__subtitle {
    justify-content: center;
    align-items: center;
  }
}
