.form__submit-button {
  margin: 0 auto;
  width: 358px;
  height: 50px;
  padding: 0;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
}

.form__submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.5s ease 0s;
}


@media screen and (max-width: 600px) {
  .form__submit-button {
    width: 100%;
    height: 46px;
    margin: 45px 0 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
