.place__like-button {
  background-image: url('../../../images/like.svg');
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 19px;
  border: none;
}

.place__like-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.5s ease 0s;
}

.place__like-button_active,
.place__like-button:active {
  background-image: url('../../../images/like-active.svg');
}
