.header {
  padding: 45px 0 37px;
  max-width: 880px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .header {
    padding: 28px 0 26px;
  }
}
